# Build artefacts
*/build/
io/
third_party/
measurements/
harness/__pycache__/
submission/target/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Directories
.DS_Store
.idea/
.vscode/

# Virtual environments
virtualenv

# Datasets, queries and results since we generate them on the fly
datasets/*
# But keep the folder alive with this one file, since some submissions might have fixed datasets
!datasets/.gitkeep